.spid-logo {
    position: absolute;
    background: #0047BB;
    height: 85px;
    left: -21px;
    border-radius: 6px 20px 20px 7px;
    top: -25px;
    width: 130px;
}

.container-spid {
    position: relative;
}

.panel-tile+.panel-tile.panel-tile-spid {
    border-top: 1px solid;
}

.content-spid {
    position: relative;
    color: #0047bb;
}

.content-spid.content-spid-off {
    position: absolute;
    background: #f2f8ff;
    height: 72px;
    left: -7px;
    border-radius: 6px 20px 20px 7px;
    top: -10px;
    width: 80px;
}

.content-spid.content-spid-on {
    position: absolute;
    background: #f2f8ff;
    height: 124px;
    left: -7px;
    border-radius: 6px 20px 20px 7px;
    top: -10px;
    width: 80px;
}

.content-spid-on .content-id-spid {
    position: absolute;
    top: 25px;
    left: 20px;
}

.content-spid-off .content-id-spid {
    position: absolute;
    top: 5px;
    left: 20px;
}

.altre-info {
    border-left: 1px solid #e2e2e6;
}

.credenziali-attive {
    position: absolute;
    top: 0.50rem;
    right: 4rem;
}

.panel-title {
    margin-left: 7.5rem !important;
}

@media (min-width: 320px) and (max-width: 991px) {

    .spid-logo {
        display: none;
    }

    .panel-tile-spid .panel-heading {
        background-image: linear-gradient(180deg, #f2f8ff, #f2f8ff 45px, #fff 0%);
    }

    .container-spid-cta {
        border-top: 1px solid #e2e2e6;
        border-bottom: 1px solid #e2e2e6;
    }

    .panel-pills-posteid .panel-heading.panel-heading-posteid {
        padding-top: 1rem !important;
        padding-bottom: 3rem !important;
    }

    .credenziali-attive {
        position: absolute;
        top: 2.40rem;
        left: 0.55rem;
    }

    .panel-title {
        margin-left: 0 !important;
    }
}