/*****************************************************
    @IMPORT
    Foglio stile Fonts - (c) Poste Italiane 2023/2024
*****************************************************/

/* https://fonts.google.com/specimen/Inter */

@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets-da/core/fonts/inter/Inter-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-display: swap;
}